<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <html>
<head>
    <title>Login</title>
</head>
<body>
    <!-- <c:if test="${param.result == 'error'}">
        <script>
            alert("로그인 에러");
        </script>
    </c:if> -->
    <form action="/logIn" method="post">
        <input type="text" name="mid">
        <input type="text" name="mpw">
        <button type="submit">LOGIN</button>
    </form>
</body>
</html>