<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do Register</title>
    <b1>To Do Register</b1>
</head>
<body>
<form action="/todo/register" method="post">
    <label for="title"></label>
    <input type="text" id ="title" name="title" placeholder="title">
    <label for="dueDate"></label>
    <input type="date" id = dueDate name="dueDate" placeholder="dueDate">
    <label for="finished"></label>
    <span>finished: </span><input type="checkbox" id="finished" name="finished" value="true">
    <button type="submit">SUBMIT</button>
</form>
</body>
</html>